# CRM

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [12]:
import pandas as pd
from sqlalchemy import create_engine, text

# Database connection
db_url = 'postgresql://pace:01cc3tuqGRAQ@10.2.4.4:5432/hasura-stage'
engine = create_engine(db_url)

# Step 1: Get latest timestamp for Pasadena
latest_date_query = """
SELECT MAX(ts.timestamp) AS latest_date
FROM test_samples ts
JOIN instrument i ON ts.instrument_id = i.id
JOIN lab l ON i.lab_id = l.id
JOIN site s ON l.site_id = s.id
WHERE s.name = 'Pasadena'
"""

with engine.connect() as conn:
    latest_date = pd.read_sql(text(latest_date_query), conn).iloc[0]['latest_date']

# Step 2: Calculate date 1 month earlier
start_date = (latest_date - pd.DateOffset(months=1)).date()

# Step 3: Query full data table
final_query = """
SELECT 
    DATE(ts.timestamp) AS date,
    ts.instrument_id,
    ts.test_id,
    ts.sample,
    ts.tstart,
    ts.tstop,
    s.name AS site
FROM test_samples ts
JOIN instrument i ON ts.instrument_id = i.id
JOIN lab l ON i.lab_id = l.id
JOIN site s ON l.site_id = s.id
WHERE s.name = 'Pasadena'
  AND ts.timestamp BETWEEN :start_date AND :end_date
ORDER BY ts.timestamp
"""

with engine.connect() as conn:
    df_pasadena = pd.read_sql(
        text(final_query),
        conn,
        params={"start_date": start_date, "end_date": latest_date}
    )

# Display the result
df_pasadena.head()

,date,instrument_id,test_id,sample,tstart,tstop,site
0,2024-09-14,339f4e04-c233-4cd0-adcb-e57d59f7e0c1,bd8efe0efa5f13dbdb16de545971ab6499344ef9f404dc...,193834-3,2024-09-14 02:10:05+00:00,2024-09-14 02:44:18+00:00,Pasadena
1,2024-09-14,0889e4ec-1473-4d57-a5cb-df61853edf03,ef61ee33cca3eb0f5a601ba9bf6aee82f5f731f5a3b1a0...,193834-4,2024-09-14 02:22:35+00:00,2024-09-14 02:54:48+00:00,Pasadena
2,2024-09-14,339f4e04-c233-4cd0-adcb-e57d59f7e0c1,6fbd9d4aed21241c6d7826759b04d082c09ea72426e561...,193796-32,2024-09-14 03:28:13+00:00,2024-09-14 04:03:13+00:00,Pasadena
3,2024-09-14,339f4e04-c233-4cd0-adcb-e57d59f7e0c1,4416b327d656b5803f3f54f4b7af339500acd5ac477506...,193796-34,2024-09-14 04:15:09+00:00,2024-09-14 04:15:25+00:00,Pasadena
4,2024-09-14,0889e4ec-1473-4d57-a5cb-df61853edf03,289843a47778eff3a46a00f8390485b91a28f8bbfbb53b...,193622-54,2024-09-14 04:41:10+00:00,2024-09-14 05:14:17+00:00,Pasadena

In [13]:
# Save to CSV
df_pasadena.to_csv("crm_pasadena_full_info.csv", index=False)

### Add short ID

In [15]:
import pandas as pd

# Load main data and mapping
df = pd.read_csv("crm_pasadena_full_info.csv")
df_map = pd.read_csv("mapped.csv")

# Merge only short_id
df = df.merge(df_map[['instrument_id', 'short_id']], on="instrument_id", how="left")

# Reorder to place short_id right after instrument_id
cols = df.columns.tolist()
i = cols.index('instrument_id')

# Remove short_id and insert it right after instrument_id
cols.insert(i + 1, cols.pop(cols.index('short_id')))
df = df[cols]

# Save updated file
df.to_csv("crm_pasadena_full_info2.csv", index=False)

### Add test number

In [17]:
import pandas as pd

# Load the CSV
df = pd.read_csv("crm_pasadena_full_info2.csv")

# Ensure date is in date format (not full datetime)
df['date'] = pd.to_datetime(df['date']).dt.date

# Sort for proper test ordering
df = df.sort_values(by=["short_id", "date", "tstart"])

# Create test_number per instrument per day
df['test_number'] = df.groupby(['short_id', 'date']).cumcount() + 1

# Move test_number to right after test_id
cols = df.columns.tolist()
test_id_idx = cols.index('test_id')
# Remove and re-insert test_number in the desired position
cols.insert(test_id_idx + 1, cols.pop(cols.index('test_number')))
df = df[cols]

# Save to new CSV
df.to_csv("crm_pasadena_full_info3.csv", index=False)

### Add test duration

In [19]:
import pandas as pd

# Load the CSV
df = pd.read_csv("crm_pasadena_full_info3.csv")

# Convert start/stop to datetime
df['tstart'] = pd.to_datetime(df['tstart'])
df['tstop'] = pd.to_datetime(df['tstop'])

# Calculate test duration as timedelta, then format as hh:mm:ss
duration = df['tstop'] - df['tstart']
df['test_duration'] = duration.dt.components['hours'].astype(str).str.zfill(2) + ':' + \
                      duration.dt.components['minutes'].astype(str).str.zfill(2) + ':' + \
                      duration.dt.components['seconds'].astype(str).str.zfill(2)

# Move 'site' to be the first column
cols = df.columns.tolist()
cols.insert(0, cols.pop(cols.index('site')))
df = df[cols]

# Save final version
df.to_csv("crm_pasadena_full_info4.csv", index=False)

### Unique samples per day for splitting

In [25]:
import pandas as pd

# Load your data
df = pd.read_csv("crm_pasadena_full_info4.csv")

# Ensure date column is correctly parsed
df['date'] = pd.to_datetime(df['date']).dt.date

# Filter for the specific date
target_date = pd.to_datetime("2024-09-14").date()
df_day = df[df['date'] == target_date]

# Group by sample and get count and short_ids used
summary = (
    df_day.groupby('sample')
    .agg(
        count=('sample', 'size'),
        short_ids=('short_id', lambda x: list(x.unique()))
    )
    .reset_index()
    .sort_values(by='sample')
)

# Display result
print(summary)

       sample  count     short_ids
0   193565-12      1        [OD09]
1   193622-54      1        [OD06]
2   193759-19      1        [OD07]
3   193784-12      1        [OD06]
4    193784-6      1        [OD09]
5   193796-32      1        [OD09]
6   193796-33      2  [OD06, OD09]
7   193796-34      1        [OD09]
8    193801-6      1        [OD06]
9    193817-6      1        [OD06]
10  193819-12      1        [OD09]
11   193834-3      1        [OD09]
12   193834-4      1        [OD06]
13   193834-6      1        [OD10]
14   193836-3      1        [OD06]
15   193841-6      1        [OD10]
16   193843-2      1        [OD06]
17   193843-7      1        [OD06]
18  193848-15      1        [OD06]
19   193852-7      1        [OD06]

#### Almost all different names. Low grouping possibilities. For now, will assume 1938 is the same sample

### Find 4 hour window where most instruments were running that day

In [35]:
import pandas as pd
from datetime import timedelta
from IPython.display import display

# --------------------------
# 1. Load and prepare the data
# --------------------------

# Load the full data
df = pd.read_csv("crm_pasadena_full_info4.csv")

# Parse datetime columns
df['date'] = pd.to_datetime(df['date']).dt.date
df['tstart'] = pd.to_datetime(df['tstart'])
df['tstop'] = pd.to_datetime(df['tstop'])

# Strip timezone if present (optional, if needed)
df['tstart'] = df['tstart'].dt.tz_localize(None)
df['tstop'] = df['tstop'].dt.tz_localize(None)

# --------------------------
# 2. Set target date and prepare instrument list
# --------------------------

target_date = pd.to_datetime("2024-09-14").date()
target_site = "Pasadena"
df_day = df[(df['date'] == target_date) & (df['site'] == target_site)].copy()

# Get all short_ids in Pasadena
all_instruments = df[df['site'] == target_site]['short_id'].dropna().unique()
all_instruments.sort()

# --------------------------
# 3. Find 4-hour window with most instruments running
# --------------------------

window_starts = pd.date_range(start=df_day['tstart'].min(), end=df_day['tstop'].max(), freq='5min')
best_window = None
max_unique_instruments = 0

for start_time in window_starts:
    end_time = start_time + timedelta(hours=4)
    active = df_day[(df_day['tstart'] < end_time) & (df_day['tstop'] > start_time)]
    unique_instruments = active['short_id'].nunique()

    if unique_instruments > max_unique_instruments:
        max_unique_instruments = unique_instruments
        best_window = (start_time, end_time)

window_start, window_end = best_window

# --------------------------
# 4. Build table of test counts and samples per instrument during 4-hour window
# --------------------------

df_window = df_day[(df_day['tstart'] < window_end) & (df_day['tstop'] > window_start)]

summary_data = []
for sid in all_instruments:
    inst_tests = df_window[df_window['short_id'] == sid]
    test_count = len(inst_tests)
    sample = inst_tests.iloc[0]['sample'] if test_count > 0 else "Not Running"
    summary_data.append((sid, test_count, sample))

window_summary = pd.DataFrame(summary_data, columns=['short_id', 'test_count', 'sample'])

# --------------------------
# 5. Display Results
# --------------------------

print(f" Date: {target_date}")
print(f" 4-hour window with most instruments running:")
print(f"    Start: {window_start}")
print(f"    End:   {window_end}")
print(f"    Instruments running: {max_unique_instruments}\n")

print(" All Pasadena short_ids:")
print(all_instruments.tolist())

print(f"\n Instrument test summary during the 4-hour window on {target_date}:")
display(window_summary)

 Date: 2024-09-14
 4-hour window with most instruments running:
    Start: 2024-09-14 08:00:05
    End:   2024-09-14 12:00:05
    Instruments running: 3

 All Pasadena short_ids:
['OD06', 'OD07', 'OD09', 'OD10']

 Instrument test summary during the 4-hour window on 2024-09-14:

  short_id  test_count       sample
0     OD06           1     193801-6
1     OD07           0  Not Running
2     OD09           1     193784-6
3     OD10           1     193841-6

In [39]:
from IPython.display import display

# MANUAL lists of samples
most_common_samples = {
    '193801-6', '193817-6', '193819-12', '193834-3', '193834-4',
    '193834-6', '193836-3', '193841-6', '193843-2', '193843-7',
    '193848-15', '193852-7'
}

not_common_samples = {
    '193565-12', '193622-54', '193759-19', '193784-12', '193784-6',
    '193796-32', '193796-33', '193796-34'
}

# Filter tests during the best 4-hour window
window_start, window_end = best_window
df_window = df_day[(df_day['tstart'] < window_end) & (df_day['tstop'] > window_start)]

# Build status table
status_data = []
for sid in all_instruments:
    inst_window = df_window[df_window['short_id'] == sid]

    if inst_window.empty:
        status_data.append((sid, 'Not Running', 'Not Running'))
    else:
        sample = inst_window.iloc[0]['sample']
        if sample in most_common_samples:
            category = 'Most Common'
        else:
            category = 'Not Common'
        status_data.append((sid, sample, category))

# Create DataFrame
color_df = pd.DataFrame(status_data, columns=['Instrument', 'Sample', 'Category'])

# Row styling
def highlight_category(row):
    if row['Category'] == 'Most Common':
        return ['background-color: lightgreen'] * len(row)
    else:  # Not Common or Not Running
        return ['background-color: salmon'] * len(row)

# Print title and show table
title = f"OptiDist Instruments on {target_date} at {target_site} from {window_start.strftime('%H:%M')} to {window_end.strftime('%H:%M')}"
print(f" {title}\n")

display(color_df.style.apply(highlight_category, axis=1))

 OptiDist Instruments on 2024-09-14 at Pasadena from 08:00 to 12:00

#### Get samples for all days

In [59]:
import pandas as pd

# Load and prepare data
df = pd.read_csv("crm_pasadena_full_info4.csv")
df['date'] = pd.to_datetime(df['date']).dt.date
df['sample'] = df['sample'].astype(str).str.strip()

# Prepare storage
rows = []

# Loop through each unique date
for target_date in sorted(df['date'].unique()):
    df_day = df[df['date'] == target_date]
    unique_samples = df_day['sample'].dropna().unique()
    
    # Get first 4 digits/prefix
    prefixes = [s[:4] for s in unique_samples]
    prefix_counts = pd.Series(prefixes).value_counts()

    if prefix_counts.empty:
        continue

    # Identify most common prefix
    most_common_prefix = prefix_counts.idxmax()

    # Separate samples by prefix
    most_common = sorted([s for s in unique_samples if s.startswith(most_common_prefix)])
    not_common = sorted([s for s in unique_samples if not s.startswith(most_common_prefix)])

    # Convert to manually editable string lists
    most_common_str = ", ".join(f"'{s}'" for s in most_common)
    not_common_str = ", ".join(f"'{s}'" for s in not_common)

    rows.append({
        'date': target_date,
        'most_common_samples': most_common_str,
        'not_common_samples': not_common_str
    })

# Create final DataFrame
result_df = pd.DataFrame(rows)

# Save to CSV
result_df.to_csv("daily_sample_groups_manual.csv", index=False)

# Display for review
from IPython.display import display
display(result_df)

,date,most_common_samples,not_common_samples
0,2024-09-14,"'193801-6', '193817-6', '193819-12', '193834-3...","'193565-12', '193622-54', '193759-19', '193784..."
1,2024-09-15,"'193719-53', '193726-3', '193767-15', '193776-15'","'193536-54', '193565-20', '193565-27', '193802..."
2,2024-09-16,"'193832-9', '193834-23', '193834-24', '193834-...","'193565-58', '193565-66', '193696-6', '193726-..."
3,2024-09-17,"'193814-1', '193816-4 10%', '193832-15', '1938...","'193378-10', '193726-6', '193796-46', '193911-..."
4,2024-09-18,"'193911-12', '193923-5', '193946_6', '19395011...","'113242-5', '184579-2', '193640-14', '193721-2..."
5,2024-09-19,"'193874-10', '193874_11'","'193686-20', '193924-3', 'RFG2578-1', 'RFG2606..."
6,2024-09-20,"'194016-13', '194016-14', '194021-13', '194022...","'193369-14', '193777-19', '193924-5', '193924-..."
7,2024-09-21,"'194021-14', '194051-6', '194066-15', '194071-...","'193457-10 10%', '193798-63', '193814-15', '19..."
8,2024-09-22,"'194018-7', '194044-6 spk', '194063-8', '19407...","'193798-50', '193798_63', '193963-15', 'RFG260..."
9,2024-09-23,"'194020-19', '194027-7', '194054-5 10%', '1940...","'193833-104', '194100-6', '194121-7', '194125-..."
10,2024-09-24,"'194122-8', '194122-9', '194125-7', '194126-11...","'193712-10', '193830-10', '193888-5', '194027-..."
11,2024-09-25,"'194122-11', '194122-12', '194122_12', '194130...","'174207-17', '193888-7', '193898-20', '193973-..."
12,2024-09-26,"'194252-1', '194289-1', '194289-1a', '194289-2...","'193945-7 spk', '193957-73', '19410922', '1941..."
13,2024-09-27,"'194217-8', '194217-8a', '194234-8', '194234-8...","'184579-79', '184579-86', '193310-54', '193888..."
14,2024-09-28,"'194314_1', '194320-8', '194320-9', '194342-7'...","'193457-14', '194143-8a', '194155-47', '194155..."
15,2024-09-29,"'194313-5', '194313-6', '194313-7', '194335-6'...","'194181-68', '194181_67', '194181_68', '194220..."
16,2024-09-30,"'194311-7', '194313-8', '194320-10', '194333-1...","'184173-125', '184418-1', '184418-2', '184579-..."
17,2024-10-01,"'194304-15', '194304-22', '194311-20', '194311...","'193481-7', '193961-20', '194427-6', '194428.6..."
18,2024-10-02,"'194405-13', '194444-16', '194475-14', '194475...","'194202-7', '194204-106', '194211-31', '194231..."
19,2024-10-03,"'194406-1', '194406-1a', '194439-15', '194468-...","'194008-22', '194153-19', '194284_7', '194313-..."
20,2024-10-04,"'194511_6', '194519-33', '194526-6', '1945267'...","'193275-10', '193319-1', '193961-7', '193961_7..."
21,2024-10-05,"'194313-110', '194313-125', '194313-126', '194...","'184579-78', '194008-35', '194406-4', '194451-..."
22,2024-10-06,"'194611-6', '194620-14', '194620-14a', '194643...","'194367-37', '194488-5', '194516-6', '194552_1..."
23,2024-10-07,"'194602.2', '194633-5', '194638-7', '194643.7'...","'16004-1', '194367.47', '194367.50', '194367_3..."
24,2024-10-08,"'194701-6', '194719-7', '194730-13', '194730-1...","'15991-1', '194367-52', '194451-8', '194482-8'..."
25,2024-10-09,"'194705-4', '194709-8', '194724-1', '194743-9'...","'193319-1', '193319-3', '193319-5', '193319-6'..."
26,2024-10-10,"'194716-25', '194716-31', '194717-9', '194752-...","'194318-67', '194451-12', '194592-24', '194592..."
27,2024-10-11,"'194714-24 10%', '194724-3', '194730-17', '194...","'194469-4', '194810-7', '194817-6', '194819-6...."
28,2024-10-12,"'194835-5', '194868-2', '194873-5', '194884-7'...","'194495-1', '194688-8', '194704-7', '194730-19..."
29,2024-10-13,"'194805-20', '194832-12', '194835-28', '194862...","'194744-22', '194762_19', '194913-17', '194913..."
30,2024-10-14,"'194913-21', '194924-1', '194925-1'",'194884-13'

In [62]:
import pandas as pd
import numpy as np
from IPython.display import display

# --------- Settings ---------
target_site = "Pasadena"

# --------- Load and prepare data ---------
df = pd.read_csv("crm_pasadena_full_info4.csv")
df['tstart'] = pd.to_datetime(df['tstart']).dt.tz_localize(None)
df['tstop'] = pd.to_datetime(df['tstop']).dt.tz_localize(None)
df['date'] = pd.to_datetime(df['date']).dt.date
df['sample'] = df['sample'].astype(str).str.strip()

# --------- Hour format helper ---------
def format_hour(h):
    if h == 0: return '12AM'
    elif h < 12: return f"{h}AM"
    elif h == 12: return '12PM'
    else: return f"{h - 12}PM"

# --------- Global instrument list for Pasadena ---------
all_pasadena_instruments = sorted(df[df['site'] == target_site]['short_id'].dropna().unique())

# --------- Loop over full calendar days ---------
all_dates = pd.date_range(start=df['date'].min(), end=df['date'].max(), freq='D').date

for target_date in all_dates:
    df_day = df[(df['date'] == target_date) & (df['site'] == target_site)]

    if df_day.empty:
        print(f"\033[1;91m No data for this day: {target_date}\033[0m")  # bold bright red
        continue


    # --------- Determine most common sample prefix ---------
    unique_samples = df_day['sample'].dropna().unique()
    prefixes = [s[:4] for s in unique_samples]
    prefix_counts = pd.Series(prefixes).value_counts()
    most_common_prefix = prefix_counts.idxmax()
    most_common_samples = sorted([s for s in unique_samples if s.startswith(most_common_prefix)])
    sample_label = f"Most Common (prefix: {most_common_prefix})"

    # --------- Build hourly counts using all Pasadena instruments ---------
    def build_hourly_counts(samples):
        counts = pd.DataFrame(index=all_pasadena_instruments, columns=range(24)).fillna(0)
        for hour in range(24):
            h_start = pd.Timestamp(f"{target_date} {hour:02d}:00:00")
            h_end = h_start + pd.Timedelta(hours=1)
            active = df_day[
                (df_day['tstart'] < h_end) &
                (df_day['tstop'] > h_start) &
                (df_day['sample'].isin(samples))
            ]
            for sid, count in active['short_id'].value_counts().items():
                counts.at[sid, hour] += count
        return counts

    hourly_counts = build_hourly_counts(most_common_samples)

    # --------- Find best 4-hour window ---------
    best_window_start = None
    best_window_instruments = 0
    best_window_tests = 0

    for start_hour in range(0, 21):
        sub_df = hourly_counts.loc[:, start_hour:start_hour+3]
        inst_count = (sub_df > 0).sum(axis=1).gt(0).sum()
        test_count = sub_df.to_numpy().sum()

        if (inst_count > best_window_instruments or
            (inst_count == best_window_instruments and test_count > best_window_tests)):
            best_window_start = start_hour
            best_window_instruments = inst_count
            best_window_tests = test_count

    best_window_hours = list(range(best_window_start, best_window_start + 4))
    max_val = hourly_counts.to_numpy().max()

    # --------- Cell styling logic ---------
    def get_cell_style(val, row_idx, col_idx, row_labels, col_labels):
        hour = col_idx
        sid = row_labels[row_idx]

        if val == 0:
            base = 'background-color: white'
        elif val == max_val:
            base = 'background-color: #186bad; color: white; font-weight: bold'
        elif val >= 6:
            base = 'background-color: #3b8edc; color: white'
        elif val >= 4:
            base = 'background-color: #64aee0; color: black'
        elif val >= 2:
            base = 'background-color: #95c8eb; color: black'
        else:
            base = 'background-color: #c3e1f2; color: black'

        borders = []
        if hour in best_window_hours:
            is_top = sid == hourly_counts.index[0]
            is_bottom = sid == hourly_counts.index[-1]
            is_left = hour == best_window_hours[0]
            is_right = hour == best_window_hours[-1]
            if is_top: borders.append('border-top: 2px solid black')
            if is_bottom: borders.append('border-bottom: 2px solid black')
            if is_left: borders.append('border-left: 2px solid black')
            if is_right: borders.append('border-right: 2px solid black')

        return base + '; ' + '; '.join(borders)

    # --------- Build style array ---------
    style_array = pd.DataFrame('', index=hourly_counts.index, columns=hourly_counts.columns)
    for row_idx, sid in enumerate(hourly_counts.index):
        for col_idx in hourly_counts.columns:
            val = hourly_counts.at[sid, col_idx]
            style_array.at[sid, col_idx] = get_cell_style(
                val, row_idx, col_idx, hourly_counts.index, hourly_counts.columns
            )

    # --------- Format display table ---------
    styled_hourly = hourly_counts.copy()
    styled_hourly.index.name = "Instrument"
    styled_hourly.columns = [format_hour(h) for h in styled_hourly.columns]
    style_array.columns = styled_hourly.columns

    # Build styled object
    styled = styled_hourly.style
    styled = styled.set_table_styles([{'selector': 'td', 'props': [('border-collapse', 'collapse')]}])
    styled = styled.apply(lambda _: style_array, axis=None)

    # --------- Row color for instrument activity ---------
    def instrument_row_color(val):
        if (hourly_counts.loc[val, best_window_hours] > 0).any():
            return 'background-color: #d4edda'  # light green
        else:
            return 'background-color: #f8d7da'  # light red

    styled = styled.applymap_index(instrument_row_color, axis=0)

    # --------- Display ---------
    print(f"\n Hourly Sample Counts for {target_site} on {target_date} ({sample_label})")
    print(f" Best 4-hour block: {format_hour(best_window_start)} to {format_hour(best_window_start + 3)}")
    display(styled)

 Hourly Sample Counts for Pasadena on 2024-09-14 (Most Common (prefix: 1938))
 Best 4-hour block: 11AM to 2PM

 Hourly Sample Counts for Pasadena on 2024-09-15 (Most Common (prefix: 1937))
 Best 4-hour block: 1AM to 4AM

 Hourly Sample Counts for Pasadena on 2024-09-16 (Most Common (prefix: 1938))
 Best 4-hour block: 8PM to 11PM

 Hourly Sample Counts for Pasadena on 2024-09-17 (Most Common (prefix: 1938))
 Best 4-hour block: 9AM to 12PM

 Hourly Sample Counts for Pasadena on 2024-09-18 (Most Common (prefix: 1939))
 Best 4-hour block: 7PM to 10PM

 Hourly Sample Counts for Pasadena on 2024-09-19 (Most Common (prefix: 1938))
 Best 4-hour block: 12AM to 3AM

 Hourly Sample Counts for Pasadena on 2024-09-20 (Most Common (prefix: 1940))
 Best 4-hour block: 3PM to 6PM

 Hourly Sample Counts for Pasadena on 2024-09-21 (Most Common (prefix: 1940))
 Best 4-hour block: 12AM to 3AM

 Hourly Sample Counts for Pasadena on 2024-09-22 (Most Common (prefix: 1940))
 Best 4-hour block: 10AM to 1PM

 Hourly Sample Counts for Pasadena on 2024-09-23 (Most Common (prefix: 1940))
 Best 4-hour block: 11AM to 2PM

 Hourly Sample Counts for Pasadena on 2024-09-24 (Most Common (prefix: 1941))
 Best 4-hour block: 3PM to 6PM

 Hourly Sample Counts for Pasadena on 2024-09-25 (Most Common (prefix: 1941))
 Best 4-hour block: 1AM to 4AM

 Hourly Sample Counts for Pasadena on 2024-09-26 (Most Common (prefix: 1942))
 Best 4-hour block: 4PM to 7PM

 Hourly Sample Counts for Pasadena on 2024-09-27 (Most Common (prefix: 1942))
 Best 4-hour block: 11AM to 2PM

 Hourly Sample Counts for Pasadena on 2024-09-28 (Most Common (prefix: 1943))
 Best 4-hour block: 12AM to 3AM

 Hourly Sample Counts for Pasadena on 2024-09-29 (Most Common (prefix: 1943))
 Best 4-hour block: 4PM to 7PM

 Hourly Sample Counts for Pasadena on 2024-09-30 (Most Common (prefix: 1943))
 Best 4-hour block: 3PM to 6PM

 Hourly Sample Counts for Pasadena on 2024-10-01 (Most Common (prefix: 1943))
 Best 4-hour block: 4PM to 7PM

 Hourly Sample Counts for Pasadena on 2024-10-02 (Most Common (prefix: 1944))
 Best 4-hour block: 1AM to 4AM

 Hourly Sample Counts for Pasadena on 2024-10-03 (Most Common (prefix: 1944))
 Best 4-hour block: 11AM to 2PM

 Hourly Sample Counts for Pasadena on 2024-10-04 (Most Common (prefix: 1945))
 Best 4-hour block: 12AM to 3AM

 Hourly Sample Counts for Pasadena on 2024-10-05 (Most Common (prefix: 1943))
 Best 4-hour block: 11AM to 2PM

 Hourly Sample Counts for Pasadena on 2024-10-06 (Most Common (prefix: 1946))
 Best 4-hour block: 8PM to 11PM

 Hourly Sample Counts for Pasadena on 2024-10-07 (Most Common (prefix: 1946))
 Best 4-hour block: 2PM to 5PM

 Hourly Sample Counts for Pasadena on 2024-10-08 (Most Common (prefix: 1947))
 Best 4-hour block: 8PM to 11PM

 Hourly Sample Counts for Pasadena on 2024-10-09 (Most Common (prefix: 1947))
 Best 4-hour block: 5PM to 8PM

 Hourly Sample Counts for Pasadena on 2024-10-10 (Most Common (prefix: 1947))
 Best 4-hour block: 9AM to 12PM

 Hourly Sample Counts for Pasadena on 2024-10-11 (Most Common (prefix: 1947))
 Best 4-hour block: 5AM to 8AM

 Hourly Sample Counts for Pasadena on 2024-10-12 (Most Common (prefix: 1948))
 Best 4-hour block: 1AM to 4AM

 Hourly Sample Counts for Pasadena on 2024-10-13 (Most Common (prefix: 1948))
 Best 4-hour block: 1PM to 4PM

 Hourly Sample Counts for Pasadena on 2024-10-14 (Most Common (prefix: 1949))
 Best 4-hour block: 3AM to 6AM